:root {
    /* --dark-purple: #3d0061; */
    --light-purple: #e200ea;
    /* --light-purple: #9600db; */
    --white: #EEEEEE;
    /* spacial blue*/
    /* --dark-grey: #1C1C1C; */
    --light-grey: #080236;
    --dark-grey: #1d1e1e;
    /* --light-grey: #312f2f; */
}